<?xml version="1.0"?>
<!--
Copyright (C) 2024 Bellande Robotics Sensors Research Innovation Center, Ronaldson Bellande

Licensed under the Apache License, Version 2.0 (the "License"); you may not
use this file except in compliance with the License. You may obtain a copy of
the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations under
the License.
-->
<launch>
  <!-- Define arguments -->
  <arg name="audio_data" default="" />
  <arg name="sample_rate" default="16000" />
  <arg name="language" default="en-US" />

  <!-- Launch the speech detection node -->
  <node name="bellande_speech_detection_node" pkg="application_api_bellande_speech_detection"
    type="bellande_speech_detection.py" output="screen">
    <param name="audio_data" value="$(arg audio_data)" />
    <param name="sample_rate" value="$(arg sample_rate)" />
    <param name="language" value="$(arg language)" />
  </node>
</launch>
