<?xml version="1.0"?>
<!--
Copyright (C) 2024 Bellande Robotics Sensors Research Innovation Center, Ronaldson Bellande

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<launch>
  <arg name="x1" />
  <arg name="y1" />
  <arg name="x2" />
  <arg name="y2" />
  <arg name="e1" />
  <arg name="e2" />
  <arg name="s1" />
  <arg name="s2" />
  <arg name="g1" />
  <arg name="g2" />
  <arg name="p1" />
  <arg name="p2" />
  <arg name="d1" />
  <arg name="d2" />
  <arg name="sr" />
  <arg name="sp" />

  <node pkg="application_api_bellande_limit" type="bellande_limit_api.py"
    name="bellande_limit_api_node" output="screen">
    <param name="x1" value="$(arg x1)" />
    <param name="y1" value="$(arg y1)" />
    <param name="x2" value="$(arg x2)" />
    <param name="y2" value="$(arg y2)" />
    <param name="e1" value="$(arg e1)" />
    <param name="e2" value="$(arg e2)" />
    <param name="s1" value="$(arg s1)" />
    <param name="s2" value="$(arg s2)" />
    <param name="g1" value="$(arg g1)" />
    <param name="g2" value="$(arg g2)" />
    <param name="p1" value="$(arg p1)" />
    <param name="p2" value="$(arg p2)" />
    <param name="d1" value="$(arg d1)" />
    <param name="d2" value="$(arg d2)" />
    <param name="sr" value="$(arg sr)" />
    <param name="sp" value="$(arg sp)" />
  </node>
</launch>
