<?xml version="1.0"?>
<!--
Copyright (C) 2024 Bellande Robotics Sensors Research Innovation Center, Ronaldson Bellande

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<launch>
  <arg name="x1" />
  <arg name="y1" />
  <arg name="x2" />
  <arg name="y2" />
  <arg name="limit" />

  <node pkg="application_api_bellande_step" type="bellande_step_api.py"
    name="bellande_step_api_node" output="screen">
    <param name="x1" value="$(arg x1)" />
    <param name="y1" value="$(arg y1)" />
    <param name="x2" value="$(arg x2)" />
    <param name="y2" value="$(arg y2)" />
    <param name="limit" value="$(arg limit)" />
  </node>
</launch>
